* {
  margin: 0;
  padding: 0
}
#Bio{
  background-color: rgb(65, 180, 225);
}
.container{
color: red
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}




  