* {
  margin: 0;
  padding: 0
}
#Bio{
  background-color: rgb(65, 180, 225);
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.container{
color: red
}



  